{% extends 'base/base.html' %}
{% block content %}
    <h1>{{request.session.user_first_name}}, here are the cribs you have listed</h1>
    <hr>
    {% load humanize %}
<div class="col-md-11 panel panel-primary">
    <table class="table table-hover">
        <tr class="text-center">
            <th scope="col" class="text-center">Crib</th>
            <th scope="col" class="text-center">Location</th>
            <th scope="col" class="text-center">Nightly Rate</th>
            <th scope="col" class="text-center"># Bookings</th>
            <th scope="col" class="text-center">Bookings</th>
            <th scope="col" class="text-center">Date Listed</th>
            <th scope="col" class="text-center">Remove</th>
        </tr>
        {% for place in hosted_places %}
            <tr>
                <th scope="row"><a href="/places/{{place.id}}">{{place.name}}</a></th>
                <td>{{place.city}}, {{place.state}}</td>
                <td class="text-right">${{place.price_night|intcomma}}</td>
                <td class="text-center">{{place.num_bookings}}</td>
                <td class="text-center">
                    <table class="table table-striped">
                        {% for booking in bookings %}
                        {% if booking.place.id == place.id %}
                        <tr>
                            <td {% if booking.is_cancel %}class="bg-danger strikeout"{% endif %}>
                                {% if booking.is_cancel %}(CANCELLED)<br><strike>{% endif %}
                                <a href="/booking/{{booking.id}}/show">{{booking.check_in}} - {{booking.check_out}}</a><br>(<a href="/login/profile/{{booking.guest.id}}">{{booking.guest.first_name}} {{booking.guest.last_name}}</a>)
                                <br>Guests: {{booking.num_guests}}
                                <br>Phone: {{booking.guest.phone_number}}
                                {% if booking.is_cancel %}</strike>{% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </td>
                <td class="text-right smaller">{{place.created_at}}</td>
                <td><a href="/places/{{place.id}}">Remove this Crib</a></td>
            </tr>
         {% if not booking.is_cancel %}
        {% endif %}
        {% endfor %}

         <!-- a href="/login/profile/{{booking.place.host.id}}"> -->
    </table>
</div>
{% endblock %}