{% extends 'base/base.html' %} {% block content %}
{% load static %}
     {% load static %}
    <img class="best_pic" src={% static "/base/img/mycrib2.jpg" %} alt="" />

<div class="row">
    
    <div class="col-lg-4 col-lg-4">
        <form action="{% url 'places:filter_process' %}" method="POST">
            {% csrf_token %}
            <p>Filter by Location:</p>
            <input type="hidden" value="city_state" name="filter_type">
            <select name="filter" class="col-xs-9">
                {% for location in locations %}
                <option value="{'city':'{{location.city}}', 'state':'{{location.state}}'}">{{ location.city }}, {{ location.state }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" style="font-size:80%">
        </form>
    </div>
    <div class="col-lg-4 col-lg-4">
        <form action="{% url 'places:filter_process' %}" method="POST">
            {% csrf_token %}
            <p>Filter by State:</p>
            <input type="hidden" value="state" name="filter_type">
            <select name="filter" class="col-xs-9">
                {% for state in states %}
                <option value="{{ state.state }}">{{ state.state }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" style="font-size:80%">
        </form>
    </div>
    <div class="col-md-2 col-xs-12">
        <form action="/places/filter/ordering=price" method="POST">
            {% csrf_token %}
            <p style="color:white">.</p>
            <input type="submit" value="Refresh All" style="font-size:80%">
        </form>
    </div>


</div>


<br>
<!-- <div class="container-inner"> -->
    {% load static %}


<div id="jumbotron">
    <h1>Featured Destination</h1>
    <p>
    <div class="container-outer">
            <div class="row">
                {% for place in places %}
                <div class="col-sm-3 col-sm-4">
                    {% load static %}
                    <img height="100" width="100" src={% static "/base/img/7da91a39_original.jpg" %} alt="#"><br>
                    <a href="/places/{{place.id}}"><span class="nameof">{{place.name}}</span></a>
                    <h3>${{place.price_night}}/night</h3>
                </div>  
                {% endfor %}
                {% for place in placestoo %}
                <div class="col-sm-3 col-sm-4">
                    {% load static %}
                    <img height="100" width="100" src={% static "/base/img/7da91a39_original.jpg" %} alt="#"><br>
                    <a href="/places/{{place.id}}"><span class="nameof">{{place.name}}</span></a>
                    <h3>${{place.price_night}}/night</h3>
                </div>  
                {% endfor %}
            </div>
     </div>
    </p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 {% endblock %}