{% extends 'base/base.html' %}
{% block content %}
    <h1>{{user_name}}, here are your trips!</h1>
    <hr>
<div class="col-md-10 panel panel-default">
    <h4 class="bold underline">Your upcoming crib visits</h4>
    <table class="table table-hover">
        <tr class="text-center">
            <th scope="col">Crib</th>
            <th scope="col">Location</th>
            <th scope="col">Check In</th>
            <th scope="col">Check Out</th>
            <th scope="col">Guests</th>
            <th scope="col">Host</th>
            <th scope="col">Cancel</th>
        </tr>
        {% for booking in user_bookings %}
            {% if today|date:"Y-m-d" < booking.check_in|date:"Y-m-d"  %}    
            <tr>
                <th scope="row">{{booking.place.name}}</th>
                <td>{{booking.place.city}}, {{booking.place.state}} ({{booking.place.country}})</td>
                <td>{{booking.check_in}}</td>
                <td>{{booking.check_out}}</td>
                <td class="text-center">{{booking.num_guests}}</td>
                <td>{{booking.place.host.first_name}} {{booking.place.host.last_name}}</td>
                <td><a href="/booking/{{booking.id}}/cancel">Cancel Crib Visit</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
<hr>
<hr>
<div class="col-md-10 well">
    <h4 class="bold underline">Cribs you have already visited</h4>
    <table class="table table-hover">
        <tr class="text-center">
            <th scope="col">Crib</th>
            <th scope="col">Location</th>
            <th scope="col">Check In</th>
            <th scope="col">Check Out</th>
            <th scope="col">Guests</th>
            <th scope="col">Host</th>
            <th scope="col">Review</th>
        </tr>
        {% for booking in user_bookings %} 
            {% if today|date:"Y-m-d" > booking.check_in|date:"Y-m-d" %} 
            <tr>
                <th scope="row">{{booking.place.name}}</th>
                <td>{{booking.place.city}}, {{booking.place.state}} ({{booking.place.country}})</td>
                <td>{{booking.check_in}}</td>
                <td>{{booking.check_out}}</td>
                <td class="text-center">{{booking.num_guests}}</td>
                <td>{{booking.place.host.first_name}} {{booking.place.host.last_name}}</td>
                <td><a href="/review/review_place/{{booking.place.id}}">Review this Crib</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}