.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
.logo {
    height: 80%;
}
#place_splash_img {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#user_profile_img {
	height: 75px;
	border-radius: 100px;
}
#banner_img {
	height: 200px
}
#booking_form {
	margin: 20px auto;
	margin-left: 25px;
	padding: 20px;
	background-color: lightgrey;
	border: 0.75px darkslategrey solid;
	border-radius: 10px;
}
.datepicker {
	position: relative;
	z-index: 1000;
}

/* Typography */
.bold {
    font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.red {
	color: red;
}
.blue {
	color: dodgerblue;
}

.larger {
	font-size: 145%;
}
.smaller {
	font-size: 75%;
}


.amenities {
	list-style: none;
	line-height: 175%;
	letter-spacing: 0.15em;
}

.amenities-False {
	color: lightgrey;
	text-decoration: line-through;
}

.jumbotron{
	background-color: white;
}




/*
/* CSS Styles for login register
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     /* height: 100%; */
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.container-outer { overflow: scroll; width: 950px; height: 210px; }
.container-inner { width: 10000px; }

#front_look{
	margin-right: 0px;
}


.selected img {
	opacity:0.5;
}

.carousel-control {
    padding-top:200px;
}

#create_host_img{
	width: 200px;
	float: left;
	padding-top: 280px;
	margin-left: -60px;
	margin-bottom: -2000px;

}

#best_pic{
	width: 200px;
	float: right;
	right: 50px;
	bottom: 300px;
	margin-bottom: -60px;
	padding-bottom: 60px;
	position: fixed;
}