{% extends 'base/base.html' %} {% block content %}

<!-- Error Messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
        </li>
        {% endfor %}
</ul>
{% endif %}

<!-- EDIT FORM START -->

<form action='{% url 'login:update' user.id %}' method='POST' enctype="multipart/form-data">
    {% csrf_token %} 
    <p>First Name:</p>
    <input type="text" name="first_name" value="{{user.first_name}} ">
    <br>
    <br><p>Last Name:</p>
    <input type="text" name="last_name" value=" {{user.last_name}} ">
    <br>
    <br>
    <input type="file" name="myfile" blank="True">
    <br><br>
    <input type="submit" value="Change Profile">
</form>

<br><br>

{% endblock %}