{% extends 'base/base.html' %} {% block content %}

<!-- Header Profile -->
<h1>Hey, I'm {{ User.first_name }}!</h1>
<h3>Username: {{User.username}}</h3>


<!-- {{User.image}} -->

<div class="profile_column">

    <!-- image here -->
    {% if User.image %}
    <img src="{{ User.image.url }}" alt="Profile Image" width="200" height="200"> {% else %}
    <p> no image here </p>
    {% endif %}

</div>

<!-- User Location and Join Date -->
<p>{{ User.city }}, {{ User.state }} {{ User.country }} | Joined in {{ User.created_at }} </p>

<br>
<p>Welcome to my page!</p>
<br>
<br>
<br>
<!-- User Bio Info -->
<span>{{ User.bio }}</span>
<br>
<!-- REVIEW BUTTON -->
 {% if is_host == True %}  
<a href='{% url 'reviews:review_users' User.id %}' class='btn btn-info able'>Review</a>
{% endif %}
<br>
<!-- REVIEWS HERE -->
<h3>Travel Goals</h3>
    {% for Booking in my_travels %}
    <p class="col-md-2">
        <a href='{% url 'places:show' Booking.place__id %}'>{{ Booking.place__name }}</a> <br> <a href='{% url 'reviews:review_places' Booking.place__id %}'>Review Their Place</a>
    </p>
    {% endfor %}
<!-- REVIEWS HERE -->
<h2>Other people around your their schedule!</h2>
<div class="row">
    {% for User in users_around_them %}
    <p class="col-md-2">
        <a href='{% url 'login:show' User.id %}'>{{ User.first_name }} {{ User.last_name }}</a> <img src="/media/{{ User.image }}" alt="Profile Image" width="45" height="45">
    </p>
    {% endfor %}
</div>

{% endblock %}